@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 59%;

    --primary: 176 100% 33%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 79% 63%;
    --destructive-foreground: 0 79% 63%;

    --info: 213 77% 60%;

    --success: 142 71% 93%;
    --success-foreground: 155 100% 40%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --border: 0 0% 59%;
    --input: 0 0% 13%;
    --ring: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.undertaking-title {
  font-family: Inter;
  font-weight: 800;
  font-style: Bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -2%;
}

/* Guarantor Form Styles */
.guarantor-primary {
  background-color: #00a69a !important;
  color: #fff !important;
  border: none !important;
}

/* Radio Label Styles */
.radio-label {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #979696;
}

/* Loading Spinner Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spinner {
  animation: spinner 1s linear infinite;
}

.guarantor-h2 {
  color: #00a69a !important;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}
.guarantor-main-heading {
  color: #222222 !important;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.guarantor-section-heading {
  color: #222222 !important;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -2%;
}
.guarantor-subheading {
  color: #979696 !important;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
}
.guarantor-label {
  color: #979696 !important;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
}
